In [2]:
import pandas as pd
df = pd.read_csv(r"usa_mercedes_benz_prices.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2429 entries, 0 to 2428
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          2429 non-null   object
 1   Mileage       2429 non-null   object
 2   Rating        2135 non-null   float64
 3   Review Count  2398 non-null   object
 4   Price         2429 non-null   object
dtypes: float64(1), object(4)
memory usage: 95.0+ KB